@charset "utf-8";
/* CSS Document */

html{
    scrollbar-color: #ff6961 #253038;
}

body {
    background-color: #253038; /* Page Dark Backround colour*/
    color: #2f3136;
    border-color: #36393f;
}

p {
    color: #c4c5c7; /* body text Dark colour */
}

a {
    color: #c4c5c7; /* link text Dark colour*/
}

hr {
    background-color: #1d2329; /* horizontal rule Dark colour */
}

.TextColour {
    color: #c4c5c7; /* general text Dark theme colour */
}

.SectionColour {
    background-color: #212930; /* section Dark theme colour */
}

#overlay {
    background-color: #253038;
}